
<html>  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">   
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
  </head>
    
  <body>
    <div style="width: 95%; height: 95%;" id="mapContainer"></div>
      <script type = "text/javascript", src = "{{ url_for('static', filename='js/map.js') }}"></script>
      <script type = 'text/javascript'>
        passVar('{{df_json|tojson}}', '{{apikey}}')
      </script>
      <div></div>
      <div>
        <h2>Stats</h2>
        <canvas id = 'stat container' width= 95%; height= 95%;></canvas>
        <script>
          var ctx = document.getElementById("stat container");
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Group 1", "Group 2", "Group 3"],
                datasets: [{
                    label: 'Groups',
                    data: [12, 19, 3]
                }]
            }
          });
        </script>
      </div>
  </body>
</html>