.grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid2 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5%;
    height: 520px;
}

.grid3 {
    display: grid;
    grid-template-columns: 10% 85%;
}